.custom-text-input-container{
    /* padding: 0 1rem; */
    margin-top: 1.5rem;
}

.custom-text-input.sc-ion-input-md-h{
    --background: #FFF;
    --border-width: 1px;
    --border-style: solid;
    --boder-color: #D9D9D9;
    --highlight-color-focused: #D9D9D9;
    --padding-bottom: 0.625rem;
    --padding-top: 0.625rem;
    --border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    background: #fff !important;
    border-radius: 8px;
}

.custom-text-input.input-fill-outline{
    min-height: 48px;
}

.custom-text-input-container b{
    color: var(--label-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    display: block;
}

.custom-text-input-container.last-item{
    border-bottom: 1px solid #BABABA;
    padding-bottom: 0.75rem;
}

.custom-text-input-container.is-readonly{
    border-top: 1px solid #BABABA;
    padding-top: 0.75rem;
    margin-top: 0.75rem;
}

.custom-text-input-container.is-readonly b{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.custom-text-input-container.is-readonly span{
    font-size: 1rem;
    font-weight: regular;
    font-family: 'Inter', sans-serif;
    color: #444444;
}