@font-face {
	font-family: "Montserrat";
	src: url("../assets/fonts/Montserrat/Montserrat.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../assets/fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
	font-style: italic;
}


@font-face {
	font-family: "Inter";
	src: url("../assets/fonts/Inter/Inter.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("../assets/fonts/Inter/Inter-Italic.ttf") format("truetype");
	font-style: italic;
}
