.swiper {
    height: 100%;
}
.pageViewInicio{
    height: 100%;
}
.omitir-container{
    position: absolute;
    right: 1rem;
    top: 2rem;
    width: 5rem;
    z-index: 1;
}
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
    margin-bottom: 9rem;
}