.comment-item{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    overflow: hidden;
    font-family: 'Monserrat', sans-serif;
    border-top: 1px solid #FFE7C0;
    padding: 1rem 0;
}
.comment-item-user-image{
    width: 60px;
    height: 60px;
    border-radius: 12px;
    overflow: hidden;
    margin: 0;
    margin-right: 2rem;
    
}
.comment-item-desc{
    flex: 1;
    width: 100%;
    position: relative;
}
.comment-item-desc .chat-icon{
    position: absolute;
    top: 0;
    right: 0;
}

.comment-item-desc h3{
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 2rem;
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: bold;
    
}

.comment-item-desc span{
  
    color: #000000;
    font-size: 0.75rem;
    font-weight: normal;
    
}


.comment-item-desc p{
  
    color: #444444;
    font-size: 0.75rem;
    font-weight: normal;
    
}

.comment-item-reply{
	flex: 1;
}

.comment-item-reply-me{
	display: flex;
	margin-top: 0.5rem;
	background: #FFF;
	padding: 1rem 0.5rem;
	border-radius: 0.5rem;
    margin-left: -1.2rem;
}
.comment-item-reply-me figure{
    width: 40px;
	height: 40px;
	overflow: hidden;
	margin: 0;
	margin-right: 0.75rem;
	border-radius: 50%;
   
}

.comment-item-reply-text{
	flex: 1;
}

.comment-item-line {
	top: 4rem;
	left: -4rem;
    height: 3rem;
	border-left: 2px solid var(--color-primary);
	border-bottom: 2px solid var(--color-primary);
	position: absolute;
	width: 28px;
}